@font-face { font-family:Medieval;src: url('PrinceValiant.ttf');}

html * {
	font-family:Medieval
}


.grid-container {
	width:100%;
	height:100%;
	display: grid;
	border: 1px solid black;
	grid-template-columns: repeat(9, 1fr);
	grid-auto-rows: minmax(100px, 400px);
	grid-template-areas: 
      "sd sd sd main main main main main main"
      "sd sd sd main main main main main main"
      "ft ft ft ft   ft   ft   ft   ft   ft";
}

.grid-item {

	grid-area:sd;
	
}

.grid-item-map {
	height: 100%;
	width: 100%;
	grid-area:main;
}

.input-container {
	height: 100%;
	width: 100%;
	display: inline-grid;
	grid-template-columns: auto auto;
	grid-row-gap: 2px;	
}

#map {
	height: 100%;
}


.input-item {	


}

#libsearch {
	transform: scale(2);
	transform-origin: 0 0;	
}

#submit {
	
}

